
//variables

$green:rgb(44, 132, 44);


//mixins

@mixin back-gradient {
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}
@mixin sizes($width, $height) {
    width: $width;
    height: $height;    
}
@mixin centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin der {
    display: flex;
    justify-content: end;
    align-items: center;
}

//clase para hacer extend mas adelante

.texto{
    font-family: var(--bs-font-sans-serif);
}


body {
    height: 100vh;
}

/* fondo gradiente violeta nav y footer*/
nav,
footer {
    @include back-gradient;
}

.btn{
    color: $green;
    border: 1px solid $green ;
    border-radius: 0.3rem;
}

.logo__header {
    @include sizes(2.5rem,auto )
}

.logo__footer {
    @include sizes(6.5rem,auto )
}

.main {

    #icon__contact{
        font-size: 10rem;
        color: rgb(130, 130, 130);
    }

    #inicio__tutorial {
        @include sizes(70%,25rem);
    }

    .inicio__carrito {
        
        @include sizes(30%,25rem);
        overflow: auto;

        button {
            border: none;
            background-color: red;
            font-weight: 400;
        }
    }

    #tabla__inicio a {
        transition: 0.3s;
        text-decoration: none;
        color: rgba(255, 0, 0, 0.849);
        font-size: 0.7rem;

        &:hover {
            color: rgb(198, 0, 0);
            font-size: 1rem;
        }
    }

    .catalogo {
        .card__imagen {
            @include sizes(auto,17rem);
        }
    }

    .card {
        transition: .2s;

        &:hover {
            background-color: #a4508b;
            background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
            color: white;

            .boton1 {
                background-color: white;
                border: none;
                color: #5f0a87;

            }
        }


        .nosotros__texto {
            border-radius: 12px;
            padding: 2rem;

            background-color: rgba(32, 32, 32, 0.247);
        }


    }

}

footer {
    .powered {
        
        @include sizes(auto,1.5rem);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.379);
        background: linear-gradient(gray, rgb(74, 74, 74));

        .texto--powered {
            @extend .texto;
            color: rgba(155, 155, 155, 0.776);
            font-size: .6rem;
        }
    }

    .footer {
        @include sizes(100%,7rem);

        .contacto {
            @include der;

            p {
                margin-block: auto;

                a {
                    i {
                        color: white;
                        font-size: 1.7rem;
                    }
                }
            }


        }
    }
}

/* zoom en las cards con hover*/
.agrandar {
    transition: all .3s;
    opacity: 0.9;

    &:hover {
        transform: scale(1.01);
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.352);
        opacity: 1;
    }
}