
#inicio__tutorial{
    width: 70%;
    height: 25rem;
}
#tabla__inicio{
    width: 30%;
    height: 25rem;
    overflow-y: auto;
}
.card__imagen{
    height: 17rem;
}
.footer__logo{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
footer{
    height: 7rem;
}

.items a{
    font-size: 0.8rem;
}
.nosotros__texto{
    border-radius: 12px;
    padding: 2rem;
    
    background-color: rgba(32, 32, 32, 0.247);
}